.menu-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        width: 200px;
        height: auto;
        cursor: pointer;
    }

    h2, h4 {
        cursor: pointer;
        margin-bottom: 0;
    }

    h2 {
        color: #F5C518;
        font-size: 2rem;
    }

    h4 {
        color: #fff;
        font-size: 1.1rem;

        &:hover {
            color: #F5C518;
            transition: .5s;
        }
    }
}