.card {
    width: 200px;
    height: 330px;
    margin: 1%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
    .img {
        width: 100%;
        height: 250px;
        object-fit: fill;
        border-radius: 5%;
        transition: transform .5s ease;
        

        &:hover {
            transform: scale(1.1);
        }
    }

    .card-top-info, .card-bottom-info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0.9rem;
    }

    .card-top-info {

        .time {
            display: flex;
            align-items: center;
        }

        h3, h5 {
            margin: 0;    
            font-style: normal;
            font-weight: normal;
            line-height: 19px;
        }
        
        h3 {
            font-size: 16px;
            color: #fff;
        }

        h5 {
            margin-left: 0.4rem;
            font-size: 16px;
            color: #00ACC1;
            
        }
    }

    .card-bottom-info {
        p {
            color: #fff;
            font-style: normal;
            font-size: 13px;
            font-weight: normal;
            line-height: 15px;
            color: rgba(255, 255, 255, 0.58);
            margin: 0;
        }
    }
}