.card {
  width: 200px;
  height: 330px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .img {
    width: 100%;
    height: 250px;
    object-fit: fill;
    border-radius: 5%;
    transition: transform 0.5s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.02);
    }
  }

  .card-top-info,
  .card-bottom-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.9rem;
  }

  .card-top-info {
    .time {
      display: flex;
      align-items: center;
    }

    h3,
    h5 {
      margin: 0;
      font-style: normal;
      font-weight: normal;
      line-height: 19px;
    }

    h3 {
      font-size: 16px;
      color: #fff;
    }

    h5 {
      margin-left: 0.2rem;
      font-size: 15px;
      color: #00acc1;
    }
  }

  .card-bottom-info {
    p {
      color: #fff;
      font-style: normal;
      font-size: 13px;
      font-weight: normal;
      line-height: 15px;
      color: rgba(255, 255, 255, 0.58);
      margin: 0;
    }
  }
}

.ant-popover {
  width: 300px;

  p {
    margin-bottom: 0;
    
  }
  .ant-popover-inner {
    background-color: #1d3c40;
    border-radius: 7px;

    .ant-popover-title,
    .ant-popover-inner-content {
      color: #fff;
    }

    .ant-popover-title {
      font-size: 1.2em;
      font-weight: bolder;
      border-bottom: 1px solid rgba(255, 255, 255, 0.205);
      line-height: 1.25;
      padding: 10px 16px;
    }

    .ant-popover-inner-content {
      font-size:  0.95em;
      line-height: 1.3;
    }
  }

  .ant-popover-arrow {
    border-top-color: #1d3c40 !important;
    border-right-color: #1d3c40 !important;
    border-bottom-color: #1d3c40 !important;
    border-left-color: #1d3c40 !important;
  }
}

.ant-message-notice-content {
  background-color: #006e7c !important;
  color: #fff;
  border-radius: 5px !important;
}
