.home-wrapper {
    background-color: #022125;
    height: 100%;
    padding: 3rem 6rem;
    display: flex;
    flex-direction: column;

    .sub-header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        background-color: rgba(2, 100, 112, 0.63);
        color: #00ACC1;
        border-radius: 7px;
        font-size: 17px;
        margin: 2.5rem 0 1.5rem; 
        -webkit-animation: flickerAnimation 1s infinite;
        -moz-animation: flickerAnimation 4s infinite;
        -o-animation: flickerAnimation 4s infinite;
        animation: flickerAnimation 4s infinite;
    }

    .cards-wrapper {
        width: 100%;
        height: auto;
        display: flex;
        gap: 2.4rem;
        flex-wrap: wrap;
    }
    
    @keyframes flickerAnimation {
        0%   { opacity:1; }
        50%  { opacity:0.3; }
        100% { opacity:1; }
      }
      @-o-keyframes flickerAnimation{
        0%   { opacity:1; }
        50%  { opacity:0.3; }
        100% { opacity:1; }
      }
      @-moz-keyframes flickerAnimation{
        0%   { opacity:1; }
        50%  { opacity:0.3; }
        100% { opacity:1; }
      }
      @-webkit-keyframes flickerAnimation{
        0%   { opacity:1; }
        50%  { opacity:0.3; }
        100% { opacity:1; }
      }
}