@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
.App {
  margin: 0;
  padding: 0;
}

body {
  background-color: #022125 !important;
  font-family: 'Source Sans Pro', sans-serif;
}
